{% extends "layout.html" %}

{% block title %}
Customer manager
{% endblock %}

{% block body %}
<h1>Add Customer</h1>

<form action="{{ url_for('add_customer_s1') }}" method="post">

<div class="form-group">
    <input class="form-control" name="customer_id" placeholder="customer ID">
    <input class="form-control" name="customer_name" placeholder="customer name">
    <input class="form-control" name="adress" placeholder="Adress">
    <input class="form-control" name="phone" placeholder="Phone">
    <input class="form-control" name="email" placeholder="Email">
</div>

<div class="form-group">
<button class="btn btn-primary">Add customer</button>
</div>

 </form>
{% endblock %}