{% extends "layout.html" %}

{% block title %}
    Manager
{% endblock %}

{% block body %}
    <h1>Manager</h1>
    {% with messages = get_flashed_messages() %}
    <h2> {{messages[0]}} </h2>
    {% endwith %}
    <ul>       
        <li><a href="{{ url_for('admin_manager') }}">Admin manager</a></li>
        <li><a href="{{ url_for('supplier_manager') }}">Supplier Manager</a></li>
        <li><a href="{{ url_for('customer_manager') }}">Customer Manager</a></li>
        <li><a href="{{ url_for('product_manager') }}">Product Manager</a></li>
        <li><a href="{{ url_for('map_store') }}">Map Store</a></li>
    </ul>
{% endblock %}