{% extends "layout.html" %}

{% block title %}
Store
{% endblock %}

{% block body %}
<h1>Supplier Manager</h1>
    <h2> {{message}} </h2>
    <ul>
        <li><a href="{{ url_for('add_product') }}">Add Product</a></li>
        <li><a href="{{ url_for('product_update_s1') }}">Update Product</a></li>
        <li><a href="{{ url_for('product_delete') }}">Delete Product</a></li>
        <li><a href="{{ url_for('search_supplier') }}">Search Supplier</a></li>
        <li><a href="{{ url_for('manager') }}">Back To Admin Page</a></li>
    </ul>

 <form action="{{ url_for('search_supplierv2') }}" method="get">

    <div class="form-group">
        <input class="form-control" name="supplier_name" placeholder="Enter Supplier Name">
    </div>

    <div class="form-group">
        <button class="btn btn-danger">Search</button>
    </div>
 </form>
{% endblock %}